{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/css/style.css' %}" />

</head>
<body>
	<!-- your single-location forecast interface here -->
	<body class="p-0 h-100">
		<!-- Your layout here -->
		<div class="container-fluid h-100">
			<div class="row" style="height: 5vh; background-color: #1B83CF;">
				<div class="col-4 text-center">
					LIBRARY
				</div>
				<div class="col-4 text-center">
					SOCIAL
				</div>
				<div class="col-4 text-center">
					PERSONAL
				</div>
			</div>
			<div class="row" style="height: 30vh;">
				<div class="col-12">
					<div class="row" style="height: 15vh"></div>
					<div class="row" style="height: 5vh">
						<div class="col-12 text-center">
							COMPETITIONS
						</div>
					</div>
					<div class="row" style="height: 5vh">
						<div class="col-12 text-center">
							Click on an art piece to vote for your favorite pieces.
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-center" style="height: 65vh; background-color: #EBF5FF;">
				<div class="col-10">
					<div class="row" style="height: 10vh"></div>
					<div class="row" style="height: 55vh; background-color: white;">
						<div class="col-4">
							<div class="row" style="height: 50%">
								<img src="{% static '/coloring/images/comp1.PNG' %}" style="width: 100%; height: auto;">
							</div>
							<div class="row" style="height: 50%">
								<img src="{% static '/coloring/images/comp4.PNG' %}" style="width: 100%; height: auto;">
							</div>
						</div>
						<div class="col-4">
							<div class="row" style="height: 50%">
								<img src="{% static '/coloring/images/comp2.PNG' %}" style="width: 100%; height: auto;">
							</div>
						</div>
						<div class="col-4">
							<div class="row" style="height: 50%">
								<img src="{% static '/coloring/images/comp3.PNG' %}" style="width: 100%; height: auto;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</body>
</html>
