{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">


	<style type="text/css">
		#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.header {
			background-color: #1B83CF;
			height: 60px;
			width: 100%;

		}

		.heading {
			font-family: 'Raleway', sans-serif;
			padding: 50px;
			font-size: 20px;
		}

		.subheading {
			font-family: 'Roboto', sans-serif;
		}

		.lefticons{
			display: flex; 
			align-items: flex-end;
			height: 30px;
			justify-content: flex-end;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;


		}
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				    		// Color pallette keeps track of the full history of colors, though we
				    		// only color in with the most-recent color.
				        hit.item.fillColor = cp.history[cp.history.length - 1];
				    }
				}
			}

			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) {
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();
				    } else {
				    	myGradientInteraction();
				    }

				});
			}

			// Set up the mandala interactivity.
			init(true);
		}
	</script>
</head>
<body style = "background-color: white;">
	<div class = "header">
			<div class = "lefticons" style = "padding-top: 10px; padding-left: 10px; padding-right: 10px; ">
				<img style = "height: 28px" src= "{% static 'coloring/images/save.png' %}">
				<img style = "height: 30px;" src= "{% static 'coloring/images/share.png' %}">
				<img style = "height: 30px;" src= "{% static 'coloring/images/competition.png' %}">
				<img style = "height: 30px;" src= "{% static 'coloring/images/settings.png' %}">
			</div>
	</div>
	<div  style = "display: flex; justify-content: center; height: 350px; margin-top: 50px;"> 
			<img style = "height: 300px" src= "{% static 'coloring/images/penguin.png' %}">
	</div> 
	<div class = "row" style = "background-color: #EBF5FF; height: 500px;"> 
		<div class = "row" style = "height: 50px;">
			<div class = "col-1 heading">COLORS</div> 
		</div>
		<div class = "row">
			<div class = "col-6 heading" style = "height: 0px; padding-left: 150px; padding-top: 80px; font-size: 18px;">‏‏‎SHADES</div> 
		</div>
		<div class = "row" style = "height: 50px;">
			<div class = "col-1 heading">SHADOWS</div> 
		</div>
		<div class = "row" style = "height: 90px;">
			<div class = "col-1 heading">GRAIN</div> 
		</div>
		<div class = "row" style = "height: 50px;">
			<div class = "col-1 heading">RECENT COLORS</div> 
		</div>

	</div>


	<!-- <canvas id="myCanvas" width="750px" height="750px"></canvas> -->
	<!-- <div id="color-palette"></div> -->
</body>
</html>
