{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/css/style.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>      
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<style type="text/css">
		.heading {
			font-family: 'Raleway', sans-serif;
			padding: 15px;
			font-size: 20px;
            color: white;
		}

        .subheading {
			font-family: 'Roboto', sans-serif;
		}

        .header {
			background-color: #1B83CF;
			height: 60px;
			width: 100%;

		}

		.lefticons{
			display: flex; 
			align-items: flex-end;
			height: 30px;
			justify-content: flex-end;
		}

        a,
        a:link,
        a:visited,
        a:hover,
        a:active{
            text-decoration: none;
            color: white;
        }

        body .carousel-indicators li{
        visibility: hidden;
        }

        .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }

        .carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
        }

        body .no-padding{
        padding-left: 0;
        padding-right: 0;
        }
	
	</style>

</head>
<body>
	<body class="p-0 h-100" style="background-color: white;">
		<!-- Your layout here -->
        <div class = "row header">
            <div class="heading col-4 text-center" style = "background-color: #176FAE;">
                LIBRARY
            </div>
            <div class="heading col-4 text-center">
                <a href="/coloring/social">SOCIAL</a>
            </div>
            <div class="heading col-4 text-center">
                <a href="/coloring/personal">PERSONAL</a>
            </div>
        </div>
        <div class = "row align-items-center" style = "height: 300px;">
        <div class = "col-1"></div>
        <div class = "col-10 heading text-center">
            <div class = "row justify-content-center" style = "height: 60px; color:black; font-size: 27px;">PAINTING TEMPLATES </div>
            <div class = "row subheading justify-content-center" style = "color:black; font-size: 14px;">Select a template to color. </div>
            </div>
        </div>
        <div class = "col-1"></div>
        </div>

        <div class = "container-fluid" style = "background-color: #EBF5FF">
            <div class = "row" style = "height: 80px; background-color: #EBF5FF;">
                <div class = "offset-6"></div>
                <div class = "heading col-3 text-right" style = "color:black; margin-top: 5px; font-size: 18px;">‏‏SORT BY</div>
                <div class = "subheading col-2" style = "text-align:center;border: 2px solid black; margin-top: 20px; color: black; background-color: white; height: 30px;">T‏‏‎ ‎O‏‏‎ ‎P‏‏‎ ‎I‏‏‎ ‎C ‏‏‎ ‏‏‎ ‎‎▾</div>
                <div class = "col-1"></div>
            </div>

            <div class = "row" style = "height: 60px; background-color: #EBF5FF;">
                <div class = "offset-1"></div>
                <div class = "heading col-11" style = "color:black;font-size: 18px;">‏‏‎POPULAR</div>
            </div>

            <div id="demo" class="carousel slide" data-interval="false" style = "background-color: #EBF5FF;">   
                <!-- The slideshow -->
                <div class="container carousel-inner no-padding" style = "background-color: #EBF5FF;">
                  <div class="carousel-item active">
                    <div class = "row align-items-center" style = "padding-left: 10vh; height: 300px; background-color: #EBF5FF;">
                        <div class="col-4">
                        <img src="{% static 'coloring/images/pop3.png' %}" style = "box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); width: 27vh; height: 27vh">
                        </div>
                        <div class="col-4">
                        <img src="{% static 'coloring/images/pop4.png' %}" style = "box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); width: 27vh; height: 27vh">
                        </div>
                        <div class="col-4">
                        <a href="/coloring/demo">
                            <img src="{% static 'coloring/images/mandala.png' %}" style = "box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); width: 27vh; height: 27vh">
                        </a>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <div class = "row align-items-center" style = "padding-left: 10vh; height: 300px; background-color: #EBF5FF;">
                        <div class="col-4">
                        <img src="{% static 'coloring/images/pop3.png' %}" style = "box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); width: 27vh; height: 27vh">
                        </div>
                        <div class="col-4">
                        <img src="{% static 'coloring/images/pop4.png' %}" style = "box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); width: 27vh; height: 27vh">
                        </div>
                    </div>
                  </div>
                </div>
            </div>
                
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>

            <div class = "row" style = "height: 60px; background-color: #EBF5FF;">
                <div class = "offset-1"></div>
                <div class = "heading col-11" style = "color:black;font-size: 18px;">‏‏‎NATURE</div>
            </div>

            <div id="demo2" class="carousel slide" data-interval="false" style = "background-color: #EBF5FF;">   
                <!-- The slideshow -->
                <div class="container carousel-inner no-padding" style = "background-color: #EBF5FF;">
                    <div class="carousel-item active">
                    <div class = "row align-items-center" style = "padding-left: 10vh; height: 300px; background-color: #EBF5FF;">
                        <div class="col-4">
                        <img src="{% static 'coloring/images/nature1.jpg' %}" style = "box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); width: 27vh; height: 27vh">
                        </div>
                        <div class="col-4">
                        <img src="{% static 'coloring/images/nature2.png' %}" style = "box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); width: 27vh; height: 27vh">
                        </div>
                        <div class="col-4">
                        <img src="{% static 'coloring/images/nature3.png' %}" style = "box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); width: 27vh; height: 27vh">
                        </div>
                    </div>
                    </div>
                    <div class="carousel-item">
                    <div class = "row align-items-center" style = "padding-left: 100px; height: 300px; background-color: #EBF5FF;">
                        <div class="col-4">
                        <img src="{% static 'coloring/images/nature1.jpg' %}" style = "box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); width: 27vh; height: 27vh">
                        </div>
                        <div class="col-4">
                        <img src="{% static 'coloring/images/nature2.png' %}" style = "box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5); width: 27vh; height: 27vh">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <!-- Left and right controls for NATURE -->
            <!-- <a class="carousel-control-prev" href="#demo2" data-slide="prev;">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo2" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a> -->
        </div>
	</body>
</body>
</html>
